h1{
    color: white;
    text-align: center;
}
p{
    color: black;
}
body{
    background-color: green;
}
img{
    height: 100px;
    width: auto;
    float: left;
}
table{
    clear: both;
}
table, td{
    border: 1px black solid;
    border-collapse: collapse;
    background-color: white;
    
}
/* # kell, ha meghivatkozok egy elemet (id)!!!!*/
#kepes{
    background-image: url('vegyes feladatok/smiley2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
ul li{
    list-style-image: url('vegyes feladatok/smiley2.png');
    list-style-position: inside;
}
ol li{list-style-type: none;
}
div a{
    text-decoration: none;
}
div p{
    text-indent: 50px;
    text-align: justify;
}
div{
    border: grey 1px solid;
    background-color: white;
    margin: 0px 50px 0px 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
div h1{
    color: black;
    text-align: left;
}
#nagy{text-transform: uppercase;
}
.bekezdes{
    font-weight: bold;
}
.cimsor2{
    text-decoration: underline;
}
h4{
    font-style: italic;
}
#paris{
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
#kep{
    width: 300px;
    height: 300px;
    background-color: green;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}